<%- include('../home/header'); %>
        <header>
                <h1>Ntalk</h1>
                <h4>Agenda de contatos</h4>
        </header>
        <section>
                <form action="/contato" method="post">
                        <input type="text" name="contato[nome]" placeholder="Nome">
                        <input type="" text name="contato[email]" placeholder="Email">
                        <button type="submit">Cadastrar</button>
                </form>
                <p>Bem-vindo <%- usuario.nome %>
                </p>
                <table>
                        <thead>
                                <tr>
                                        <th>Nome</th>
                                        <th>Email</th>
                                        <th>Ação</th>
                                </tr>

                        </thead>
                        <tbody>
                                <% contatos.forEach(function(contato,index){ %>
                                        <tr>
                                                <th>
                                                        <%- contato.nome %>
                                                </th>
                                                <th>
                                                        <%- contato.email %>
                                                </th>
                                                <th>Botao</th>
                                        </tr>
                                        <% }) %>
                        </tbody>
                </table>
        </section>
        <%- include('../home/exit'); %>
                <%- include('../home/footer'); %>